body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: aliceblue;
}

#current {
    font-size: 20px;
}

#last {
    font-size: 15px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}